@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);
body {
    /*Contains default information that applies through the body of the page*/
    font-family: "Roboto Slab", sans-serif  !important;
    font-weight: 300;
    font-size: 2em;
    color: black;
    position: relative;
    /*background-color: #000037";*/
    padding-top: 40px;
}
.col-md-6{
    border-style: solid;
    border-color: black;
    /*border-width: 2px;*/
}
.left{
    border-right: thick solid #E7E7E7;
}
.tab{
    padding-top: 75px;
    text-align: center;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    width: 300px;
    overflow-x: hidden;
}
.btn .btn-default .dropdown-toggle{
    width: 100px;
    background-color: black;
}

button{
    background-color: #4CAF50; /* Green */
    color: black;
}
.song_info{
    text-align: center;
    padding-top: 25px;
    font-weight: 600;
    font-size : 20px;

}
.choose{
    font-weight: 600;
    font-size: 20px;
}
#information{
    height:120px !important;
    overflow: scroll;
    color:#616161;
    border: 3px solid white;
    background-color: white;

}
.name{
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}
#user{
    color: black;
    font-weight: 400;
    font-size: 25px;
}

.navbar-default {
    background-color: #F8F8A1;
    border-color: #E7E7E7;
}

#top {
    background-color: rgb(4, 36, 61);
    color: white;
    vertical-align: middle;
    font-weight: bold;
    height: 60px;
    font-size: 25px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    margin: 0;
}
.head{
    padding-bottom: 10px;
    position: relative;
    font-weight: 600;
    font-size: 30px;
    vertical-align: middle;
    padding-bottom: 20px;   
}
#heading{
    padding-bottom: 10px;
    position: relative;
    font-weight: 600;
    font-size: 30px;
    vertical-align: middle;
}
